$primary: #353735;
$secondary: #FFF;
$tertiary: #FAFAFA;

$font_primary: #353735;
$font_secondary: red;

@import "header";
@import "login";
@import "footer";
@import "menu";
@import "content";

html, body{
  background-color: $secondary;
  color: $primary
}