$primary: #C7C9C8;
$secondary: #FFF;
$tertiary: #FAFAFA;
$quaternary: #353735;

$font_primary: #353735;
$font_secondary: red;

@import "header";
@import "login";
@import "footer";
@import "menu";
@import "content";

html, body{
  background-color: $secondary;
  color: $font_primary
}